.awards-scroll {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    padding-top: 60px;
    counter-reset: li;
     &__item {
        display:flex;
        position: relative;
        border: 2px solid #161513;
        min-height: 140px;
        justify-content: space-between;
        color:#161513;
        overflow: hidden;
        &:before {
            font-size: 18px;
            position: absolute;
            background-color: #e61f1f;
            width: 48px;
            height: 48px;
            content: counter(li) "";
            counter-increment: li;
            text-align:center;
            padding-top: 15px;
            color: #fff;
            left: 34px;
            top: 50%;
            transform: translateY(-50%);
      
        }

    }

}

.item-left{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.webflow {
    font-weight: 400;
    font-size: 23px;
    color: #161513;  
}

.runner{
    font-weight: 400;
    font-size: 18px;
    color: #161513;
}

.product-design{
    display: flex;
    align-items: center;
    padding-right: 34px;
}
