.images-list{
    display: flex;
    flex-direction: column;
    grid-gap: 95px;
    padding-top: 60px;
    @include tablet {
        display: flex;
        grid-gap: 40px;
        padding-top: 30px;
    }
    @include mobile{
        display: flex;
        grid-gap: 40px;
        padding-top: 30px;
    }
    &__item{
        display: flex;
        flex-direction: row;
        grid-gap: 45px;
        @include tablet {
            display: flex;
            flex-direction: column;
            grid-gap: 40px;
            padding-top: 30px;
        }
        @include mobile {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
            padding-top: 10px;
            margin: 0 15px;
        }
}
    }


.images-list{
    &__item:nth-child(even){
        display: flex;
        flex-direction: row-reverse;
        @include tablet {
            display: flex;
            flex-direction: column;
        }
        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }
}
.item-info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    @include mobile {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;    
    }
}

.moreinfo{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #161513;
}
.portfolioH{
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #161513;
}
.deevopslink{
    padding: 5px 12px;
    background: #E94D35;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

