<footer>
  <!-- <div class="container"> -->
      <nav class="footer-nav">
        <div class="footer-nav__link">
          <svg class="link-logo" width='34' height='34'>
            <use href='img/sprite/sprite.svg#Vectorws'></use>
          </svg>
          <a href="#">Style guide</a>
          <a href="#">Licence</a>
          <a href="#">Changelog</a>


        </div>
        <div class="social">
          <a href="#" class="social-link">
            <svg width='13' height='12'>
              <use href='img/sprite/sprite.svg#Vector'></use>
            </svg>
          </a>
          <a href="#" class="social-link">
            <svg width='16' height='14'>
              <use href='img/sprite/sprite.svg#Vector-2'></use>
            </svg>
          </a>
          <a href="#" class="social-link">
            <svg width='16' height='16'>
              <use href='img/sprite/sprite.svg#Vector-3'></use>
            </svg>
          </a>
        </div>
        <p>© Made by Portfolio Template & powered by Flowbase</p>
      </nav>
    </div>
  <!-- </div> -->
</footer>