<header>
  <div class="container container--mode">

    <div class="header">
      <a href="index.html" class="header__logo">
        <svg width='131' height='32'>
          <use href='img/sprite/sprite.svg#Moxageneral'></use>
        </svg>
      </a>
      <nav>
        <ul class="navigation-list">
          <li class="navigation-item"><a class="navigation-link" href="#">Home</a></li>
          <li class="navigation-item"><a class="navigation-link" href="#">About</a></li>
          <li class="navigation-item"><a class="navigation-link" href="#">Contact</a></li>
        </ul>
      </nav>
      <button class="header__btn">Let's talk</button>
    </div>
  </div>
</header>